<div class="container-wrapper">
  <div class="container">
    <label for="multiName">Please Enter Names:</label>
    <app-multi-textbox [key]="'name'" (valueAdded)="values($event)" ></app-multi-textbox>
  </div>
  <div class="container">
    <label for="multiSkills">Please Enter Skills:</label>
    <app-multi-textbox [key]="'skills'" (valueAdded)="values($event)" ></app-multi-textbox>
  </div>
  <div class="container">
    <label for="multiSkills">Please Enter Exp:</label>
    <app-multi-textbox (valueAdded)="values($event)" ></app-multi-textbox>
  </div>
</div>
